.session-container{
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
}
.content{
    width: 40%;
    height: 80%;
    margin: auto;
    
    /* background-color: red;
    border: black solid 1px; */
}
.content-text{
    color: white;
    text-align: left;
}
.content-title{
    margin-top: 10%;
}
.content-title h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;

}
.content-title h3 {
    font-size: 2em;
    /* font-weight: 900; */
    font-family: "Montserrat", sans-serif;
}
.content-description{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.content-left{
    height: 60%;
    margin: auto;
    z-index: 1;
}
.content-button .background-button{
    background-color: #e84427;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    margin: 30px 0;
    cursor: pointer;
    
    padding: 5px;
}
.content-button .background-button p{
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin: auto;
    padding: 10px;
    font-size: 20px;
}
.content-description{
    margin: 20px 0;
}
.content-button .background-button:hover{
    background-color: white;
    transition: .5s ease;
}
.content-button .background-button:hover p{
    color: black;
    transition: .5s ease;
}
.element-scroll-down{
    /* background-color: black; */
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* /* margin: auto; */
}
.element-scroll-down div{
  
    width: 40px;
    margin: auto;
}
.element-scroll-down div a{
  
    display: block;
    font-size: 40;
    text-align: center;
}
.element-scroll-down div a i{
    color: rgb(187, 187, 187);
}
.element-scroll-down div a:hover i{
    color: rgb(129, 129, 129);
    transition: ease .2s;
    transform: scale(1.3);
}
/* Section 1 */
.session1 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("../image/apples.jpg");
    background-size: cover ;
    background-position: center;
}
.background-session{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: url("../image/apples.jpg"); */
    background-color: black;
    opacity: 0.2;
}
/* section 2 */
.section2 {
    width: 100%;
    height: 90%;
}
.title-sec2 {
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 100px;
}
.fa-play-circle,
.fa-paint-brush,
.fa-newspaper {
    font-size: 75px;
    margin-bottom: 20px;
}
.content-sec2 {
    padding: 0 100px;
    display: flex;
}
.com1-sec2{
  
    color: white;
    text-align: center;
    width: 30%;
}
.com2-sec2{
    
    color: white;
    text-align: center;
    width: 40%;
}
.com3-sec2{
    
    color: white;
    text-align: center;
    width: 30%;
}
.txt-bottom {
    width: 240px;
    margin: auto;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.4em;
}
.txt-content {
    font-size: 1.5em;
    margin-bottom: 30px;
}
.btn-sec2:hover {
    cursor: pointer;
    color: black;
    background: white;
    transition: .5s;
}
.btn-sec2 {
    border-radius: 5px;
    font-weight: 400;
    position: relative;
    top: 50px;
    background: #e84427;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 24px;
}
/* secttion 3 */
#txt-sec3 {
    color: #e84427;
}
.section3 {
    width: 100%;
    height: 70%;
    padding-top: 70px;
    display: flex;
    background: white;
}
.title-sec3 {
    position: relative;
    top: 20px;
    font-size: 18px;
    font-weight: 400;
    color: gray;
}
.name-sec3 {
    font-size: 1.5em;
    font-weight: bold;
    color: gray;
}
.left-sec3 {
    margin-left: 100px;
    padding-top: 70px;
    text-align: center;
}
.right-sec3 {
    text-align: center;
}
.right-sec3 > h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 70px;
}
.right-sec3 > p {
    text-align: left;
    color: gray;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.4em;
    padding: 0 130px;
}
.img-sec3 {
    width: 360px;
    height: 300px;
}
.btn-sec3 {
    border-radius: 5px;
    font-weight: 400;
    position: relative;
    top: 50px;
    background: #e84427;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 24px; 
}
.btn-sec3:hover {
    cursor: pointer;
    color: white;
    background: black;
    transition: .5s;
}
/* Session 4 */

.session4{
    height: 900px;
    background-color: white;
}
.session4 .session4-one{
    height: 50%;
    background-color: coral;
}
.content-session4{
    height: 100%;
    overflow: hidden;
    position: relative;
}

.session4-background{
    height: 100%;
    /* transition: ease .1s; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    filter: grayscale(100%);
}
.session4-background-one{
    background-image: url("../image/blender_2-8_launch_pad_thumb.jpg");
}
.session4-background-two{
    background-image: url("../image/cgb_splp_teaser_still.jpg");
}
.session4-background-three{
    background-image: url("../image/andreas-rocha-wintertravellersii05_cover2-1024x576.jpg");
}
.session4-content{
    width: 100%;
    height: 100%;
 
}
.box-content-session4{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.content-session4:hover .session4-background {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
    height: 100%;
    filter: grayscale(0%);
    transition: .5s ease-in-out;
}
.content-session4:hover .session4-container {
	-webkit-transform: scale(1.05);
    transform: scale(1.05);
    /* height: 100%; */
    /* filter: grayscale(0%); */
    transition: .5s ease-in-out;
}
.session4-container{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 90%;
    width: 50%;
    margin: auto;
    padding: 20px;
    transition: .5s ease-in-out;

}
.session4-text{
    color: white;
    height: 40%;
    width: 100%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10px;
}
.session4-button{
    width: 100%;
    margin: auto;
}
.session4-button .background-button{
    margin: auto;
    width: 150px;
    height: 30px;
}
.session4-button .background-button p{
    font-size: 15px;
    padding: 5px;
}
.session4-two{
    display: flex;
    height: 50%;
}
.session4-two-content{
    width: 50%;
    height: 100%;
    /* background-color: coral; */
}

/* session5 */
.card-post{
    position: absolute;
    background-color: #e84427;
    height: 20px;
    right: 0;
    margin: 5px;
    color: white;
    text-align: center;
    padding: 3px;
    width: 60px;
    border-radius: 2px;
    font-size: 12px;
}
.session5{
    background-color: white;
}
.session5-content-two{
    width: 100%;
    margin: 20px auto;
    /* padding: 10px; */
}
.card-session5 {
    margin: 20px;
    padding: 0px;
    background-color: #191919;
}
.card-session5 .card-body{
    color: white;
    text-align: center;
}
.card-session5 .card-body .card-text{
    font-size: 10;
}
.card-session5 .card-img-top{
    height: 200px;
    filter: grayscale(100%);
    transition: ease .5s;

}
.card-session5:hover .card-img-top{
    height: 200px;
    filter: grayscale(0%);
    transition: ease .5s;
}
.session5-content-one{
    text-align: center;
    height: 200px;
    width: 100%;
    /* padding: 40px auto; */
}
.session5-content-one .content{
    padding: 60px;
}
.session5-content-three{
    height: 100px;
}
.session5-content-three .content-button:hover .background-button:hover{
    background-color: silver !important;
}

/* session6 */
.site-logo {
    width: 218.33px !important;
    margin-right: 50px;
}
.btn {
    border-radius: 5px;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.02em;
    line-height: 12px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    padding: 14px 30px;
    cursor: pointer;
}
.btn-theme {
    background: var(--theme-color1);
    color: #212121;
}

.c-container {
   margin: auto;
   width: 93%;
   position: relative;
   z-index: 1;
}

.btn-outline-white {
   color: #fff;
   background-color: rgba(255, 255, 255, 0.1);
   background-image: none;
   border-width: 2px;
   border-color: #fff;
   font-weight: 500;
   -webkit-transition: all .2s;
   transition: all .2s;
}
.btn {
   border-radius: 5px;
   font-weight: normal;
   font-size: 15px;
   letter-spacing: 0.02em;
   line-height: 12px;
   text-align: center;
   font-weight: 600;
   font-size: 14px;
   padding: 14px 30px;
   cursor: pointer;
}
.btn-outline-white:hover {
   background-color: #fff;
   color: var(--text-dark);
}
/* common css up */

.testimonial p {
    font-size: 28px;
    letter-spacing: 0.02em;
    line-height: 35px;
}
.testimonial .name {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 35px;
    text-align: left;
}
.testimonial .designation {
    font-size: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #fff;
    opacity: 0.65;
}
.unt {
    margin-bottom: 20px;
    margin-top: 60px;
}
.hero-text {
    font-size: 30px;
    letter-spacing: 0.02em;
    color: #fff;
}
.gallery-thumbs {
    height: 100%;
}
.gallery-thumbs .swiper-wrapper {
    align-items: center;
}
.gallery-thumbs .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px !important;
    height: 330px;
    position: relative;
}
.gallery-thumbs .swiper-slide img {
    filter: contrast(0.5) blur(1px);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.gallery-thumbs .swiper-slide-active img {
    filter: contrast(1) blur(0px) !important;
}
.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.flex-row .flex-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.gallery-thumbs .swiper-wrapper {
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}


.testimonial-section .quote {
   width: 75%;
   height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding-left: 100px;
   padding-right: 100px;
}
.swiper-container.testimonial {
   height: 100vh;
}
.testimonial-section .user-saying {
   background: var(--theme-color2);
   width: 60%;
   color: #fff;
   height: 100%;
}
.testi-user-img {
   width: 40%;
   margin-left: 20px;
   position: relative;
}
.testimonial-section {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   width: 100%;
   height: 100%;
}
.testimonial-section .quote p {
   font-size: 20px;
   font-weight: 300;
   line-height: 1.8;
   font-style: italic;
   margin: 0;
}
.quote-icon {
   width: 38px;
   display: block;
   margin-bottom: 30px;
}
:root {
    --dark-green: #9cc675;
    --dark-yellow: #e89a3d;
    --extra-light-brown:#fdf0d7;
    --light-brown: #ecd5ab;
    --dark-brown:#915b40;
    --light-yellow:#f8e3a8;
    --light-red:#f3ac99;
    --light-teal:#a6c8cc;
    --light-gray:#ddd5d6;
    --theme-color2: #e89a3d;
}
.content-title-session6{
    text-align: center;
    color: white;
    padding-top: 50px;
    position: absolute;
    width: 100%;
}
.session6 .content-button{
    padding: 40px 0px !important;
}
/* session7 */
.session7-container{
    background-color: #e84427;
    padding: 50px;
}
.session7-image{
    /* width: 400px; */
    height: 700px;
    display: inline;

}
.session7-image img{
    margin-top: 40px;
    width: 500px;
    /* margin: auto; */
}
.session7-content-container{
    width: 90%;
    margin: auto;
    padding: 20px;
    color: white;
    text-align: center;
    
}
.session7-content{
    display: flex;
    height: 100%;
}

/* footer */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons li a i{
    font-size: 30px;
    margin-top: 5px;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}






@media only screen and (max-width: 900px) {
    .testimonial-section {
        display: table-cell;
    }
    .testi-user-img{
        width: 100%;
        margin: 20px;

    }
    .testimonial-section .user-saying{
        width: 100%;
    }
    .testimonial-section .quote{
        height: 60%;
    }
}